*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(../images/wall.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.contacts h3{
    margin: 20px 0 20px 0;
    font-size: 30px;
    color: rgb(133, 121, 153); 
    text-align: center;
}
.contacts_form{
    width: 50%;
    margin: 0 auto;

}

input{
    width: 300px;
    height: 40px;
    padding-left: 5px;
    margin-bottom: 15px;
    margin:10px auto;
    border: none; 
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
}

.btn_add{
    background-color:  rgb(134, 121, 158);
    border-radius: 10px;
    border: none;
    outline: none;
    width: 200px;
    height: 40px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    cursor: pointer;
    margin-bottom: 20px;
    
}
button:hover{
    opacity: .8;
}
.contacts__list{
    border-radius: 10px;
    box-shadow: 0 0 5px 0 rgb(134, 121, 158);
    background:  rgb(231, 226, 240);
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 350px;

}
.contact_item{
   margin: 0 20px;
   line-height: 30px;
   font-size: 18px;
   padding-bottom: 10px;
   border-bottom: 1px solid rgb(134, 121, 158);
  }
  .contact_item h3{
      text-align: left;
  }
  .contact_item button{
    background-color:  rgb(134, 121, 158);
    border-radius: 10px;
    border: none;
    outline: none;
    width: 70px;
    height: 30px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
  }
  
